.build*/
*.user
.DS_Store
arkiv
arkiv/*
arkiv/.*
autobuild/node_modules/
autobuild/Todour.dmg
autobuild/Todour-win/
node_modules/
*~
*.o
autobuild/Todour/
autobuild/Output/setup.exe
mainwindow.cpp.autosave
autobuild/releases/
*.autosave
documentation/site
